body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1200px;
    height: 800px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}


h1{
    color: rgb(157, 72, 237);
    padding: 10px;
    font-size: 35px;
    
}


p{
    padding-top: 10px;
    padding-bottom: 30px;
}


.card{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
    color: white;
    width: 360px;
    height: 100px;
    background-color: black;
}

.left{
    height: 100%;
    float: left;
    padding-right: 10px;
}

.nome{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.role{
    padding: 5px;
}

.email{
    color: rgb(76, 204, 204);
}